.container {
  margin: 0 0.36rem;
  overflow: hidden;
  font-size: 0.3rem;
  color: #36404a;
}

.hotHead {
  position: relative;
  padding: 0.18rem 0 0.06rem;
  font-size: 0.34rem;
  font-weight: bold;
}

.content {
  padding-bottom: 0.54rem;
  overflow: hidden;
}

.item {
  box-sizing: border-box;
  display: block;
  float: left;
  height: 0.7rem;
  padding: 0 0.42rem;
  margin: 0.32rem 0.34rem 0 0;
  overflow: hidden;
  line-height: 0.7rem;
  color: #ff4c38;
  text-align: center;
  background: #ffe2e0;
  border-radius: 0.06rem;
}
